@layer base {
  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
  }

  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: light;
  }

  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: medium;
  }

  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: semibold;
  }

  @font-face {
    font-family: 'Kufam';
    src: url("../src/public/fonts/Kufam-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kufam';
    src: url('../src/public/fonts/Kufam-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kufam';
    src: url('../src/public/fonts/Kufam-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kufam';
    src: url('../src/public/fonts/Kufam-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kufam';
    src: url('../src/public/fonts/Kufam-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kufam';
    src: url('../src/public/fonts/Kufam-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'Kufam';
    src: url('../src/public/fonts/Kufam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kufam';
    src: url('../src/public/fonts/Kufam-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Kufam", sans-serif;
  background-color: white;
}
