/* Karma Regular */

@layer base {
  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
  }

  /* Karma Light */
  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: light;
  }

  /* Karma Medium */
  @font-face {
    font-family: "Karma";
    src: url(".../src/public/fonts/Karma-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: medium;
  }

  /* Karma SemiBold */
  @font-face {
    font-family: "Karma";
    src: url("../src/public/fonts/Karma-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: semibold;
  }
}

/* Karma Bold */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Karma";
}
